/* Your app styles here */
.page-content{ background-color: #eeeeee;}
.nav_top{
    background-color: #19b8a4 !important;
}
.nav_slide{ background-color: #323838 }
.nav_slide_dark{background-color: #2c3030}
.logo_black{ width: 70%; padding: 1rem}
.nav_slide_top{ height: 70px !important;}
.nav_icon{ width: 1rem; padding-right: 5px;}
.nav_links{ color: #fff !important; padding-bottom: 5px !important; line-height: 2.2}
.logo_front{ width: 40%; margin: 0 auto; display: block; padding: 1.5rem 0 1rem 0;}

.bg_green{ background-color: #51d568}
.bg_pink{ background-color: #ff36b6}
.bg_yellow{ background-color: #fdc938}
.bg_orange{ background-color: #fd932f}
.bg_blue_sky{ background-color: #58c8fa}
.bg_red{ background-color: #f81d45}
.bg_gray{ background-color: #818890}
.bg_blue{ background-color: #3190fc}
.bg_Purple{ background-color: #83489a}

.tiles_m{ margin: 0 5px 0 5px}
.tiles_col{
    width: calc((100% - 3px*2)/ 3) !important; margin-bottom: 5px; /*box-shadow: 0 1px 2px rgba(0,0,0,.3)*/; 
    height: 20%;
    display: block;
    text-align: center;
    color: #fff;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    margin-bottom: 3px;
}
.tiles_col a{color: #fff;}
.tiles_col img{width: 50%}
.wd{ width: 98%;}
.hands{cursor: pointer; color: #f81d45 }
.newswrp{ padding: 0px 16px 0 16px !important; position: unset}
.newsh{ color: #fff; min-height:12em !important; background: rgba(75, 75, 75, 0.5)}
#mlist ul{ list-style: square}
#mlist ul li{ margin-bottom: 5px;}
.md .navbar{background-color: #19b8a4 !important;}